body {
    background-image: url('../assets/imgs/Background\ MiauDoceLar.png');
}


.div-container {
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction: row;
    /* padding-top: 175px; */
    /* padding-right: 60px; */
    width: auto;
    height: fit-content;
    padding-left: 250px;
}


.graphic-container {
        gap: 6rem;
        color:#000;
        background-color: white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 10px 6px #FD8210;
        width: 28%;
        height: fit-content;
        height: 40%;
        align-content: center;
        flex-direction: row;
        text-align: center;
        padding: 70px;
        padding-top: 15px;
        padding-bottom: 40px;
        margin: 5%;
}


.graphic-container2 {
    color:#000;
    gap: 6rem;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px 6px #FF93A0;
    width: 90%;
    height: 40%;
 align-items: center;
    align-content: center;
    flex-direction:column;
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin: 6%;
    margin-top: 50px;
    margin-left: -10px;
}


.janela {
    display: flex;
    width: 100vw;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #FD8210;
    background-color: #FF93A0;
    /* border: 3px solid pink; */
}



.header-left a {
    text-decoration: none;
    color: white;
}


.userIcon {
    width: 150px;
    /* padding: 5px; */
    display: flex;
    border-radius: 55%;
    box-shadow: 5px 5px 10px #ffa34d;
  }


  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: #FF93A0;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #FF93A0;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav h3 {
    color: #FF93A0;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav-white {
    width: 40%;
    border: 3px solid #FD8210;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #FD8210;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #FD8210;
    color: white;
    box-shadow: 5px 5px 10px #ffa34d;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  